#addToCart_message{
    position: absolute;
    top: -70px;
    left: calc(50% - 98.915px);
    background-color: #99d6ffe6;
    color: #fff;
    font-weight: bold;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}
.body_container{
    width: 100%;
    margin: 50px 0 30px;
    min-height: 235px;
}
.allproducts_container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 10px;
}
.allproduct_item{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    text-align: center;
}
.allproduct_item:hover{
    box-shadow: 0 1px 7px 0 rgb(0, 0, 0, 0.45);
}
.allproduct_item:hover .allproduct_item_title a{
    transition: all 0.3s ease;
    color: #ff2732;
}
.allproduct_item:hover .allproduct_item_img a img{
    transition: all 0.3s ease;
    transform: scale(1.08);
}
.allproduct_item_img{
    width: 96%;
    margin: 10px 5px;
    height: 190px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.allproduct_item_img a{
    display: flex;
}
.allproduct_item_img a img{
    width: 100%;
    height: 100%;
    max-height: 190px;
    object-fit: contain;
}
.discount{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d51c24;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 40px;
}
.allproduct_item_title{
    margin: 10px;
}
.allproduct_item_title a{
    display: block;
    text-decoration: none;
    color: #22a7ff;
    font-weight: 700;
}
.allproduct_item_prices{
    width: calc(100% - 20px);
    margin: 0 10px;
    display: grid;
    grid-template-columns: repeat(2, minmax(70px, 1fr));
    gap: 10px;
}
.allproduct_item_priceSale{
    color: #ff2732;
    font-weight: 700;
}
.allproduct_item_priceOriginal{
    color: #bebebe;
    font-weight: 700;
}
.allproduct_item_footer{
    color: #22a7ff;
    width: calc(100% - 20px);
    margin: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}
.allproduct_item_sold{
    font-size: 12px;
    text-align: start;
}
.allproduct_item_sold img{
    width: 16px;
    object-fit: contain;
}
.wishlist{
    text-align: center;
}
.wishlist i{
    line-height: 20px;
    cursor: pointer;
}
.wishlist i:hover{
    transition: all 0.3s ease;
    color: #ff2732;
}
.allproduct_item_cart{
    text-align: end;
}
.allproduct_item_cart i{
    line-height: 20px;
    cursor: pointer;
}
.allproduct_item_cart i:hover{
    transition: all 0.3s ease;
    color: #ff2732;
}
.source{
    position: relative;
    margin: 0 20%!important;
}
.sort_box{
    position: absolute;
    bottom: 0;
    right: 0;
}
.sort_box select{
    color: #22a7ff;
    font-size: 14px;
    border: 1px solid #22a7ff;
    outline: none;
    border-radius: 3px;
}
.control_next_pre_Page{
    width: 90%;
    margin: 30px auto 0;
    justify-content: center;
    align-items: center;
}
.control_next_pre_Page button{
    border: 1px solid #22a7ff;
    outline: none;
    background-color: #fff;
    color: #22a7ff;
    cursor: pointer;
    margin: 0 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
}
.control_next_pre_Page button:hover{
    transition: all 0.3s ease;
    background-color: #22a7ff;
    color: #fff;
}