.body_container{
    margin: 50px 0 30px;
    width: 100%;
    min-height: 334px;
}
#addToCart_message{
    position: absolute;
    top: -70px;
    left: calc(50% - 98.915px);
    background-color: #99d6ffe6;
    color: #fff;
    font-weight: bold;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}
.wishlist_container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 10px;
}
.wishlist_item{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
}
.wishlist_item:hover{
    box-shadow: 0 1px 7px 0 rgb(0, 0, 0, 0.45);
}
.wishlist_item:hover .wishlist_item_title a{
    transition: all 0.3s ease;
    color: #ff2732;
}
.wishlist_item:hover .wishlist_item_img a img{
    transition: all 0.3s ease;
    transform: scale(1.08);
}
.wishlist_item_img{
    width: 96%;
    margin: 10px 5px;
    height: 190px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wishlist_item_img a{
    display: flex;
}
.wishlist_item_img a img{
    width: 100%;
    height: 100%;
    max-height: 190px;
    object-fit: contain;
}
.discount{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d51c24;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 40px;
}
.wishlist_item_title{
    margin: 10px;
}
.wishlist_item_title a{
    display: block;
    text-decoration: none;
    color: #22a7ff;
    font-weight: 700;
}
.wishlist_item_prices{
    width: calc(100% - 20px);
    margin: 0 10px;
    display: grid;
    grid-template-columns: repeat(2, minmax(70px, 1fr));
    gap: 10px;
}
.wishlist_item_priceSale{
    color: #ff2732;
    font-weight: 700;
}
.wishlist_item_priceOriginal{
    color: #bebebe;
    font-weight: 700;
}
.wishlist_item_footer{
    color: #22a7ff;
    width: calc(100% - 20px);
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2, minmax(70px, 1fr));
    gap: 10px;
}
.wishlist_item_sold{
    font-size: 12px;
    text-align: start;
}
.wishlist_item_sold img{
    width: 16px;
    object-fit: contain;
}
.wishlist_item_cart{
    text-align: end;
}
.wishlist_item_cart i{
    line-height: 20px;
    cursor: pointer;
}
.wishlist_item_cart i:hover{
    transition: all 0.3s ease;
    color: #ff2732;
}