.header_bottom_right{
    flex: 0.7 1 0!important;
}
.header_bottom_left{
    flex: 1 1 0!important;
}
.header_bottom .header_bottom_left .logo{
    width: 142.37px!important;
    margin-left: 90px;
}
.title_page{
    display: flex;
    align-items: center;
    color: #22a7ff;
    font-family: Arial, Helvetica, sans-serif;
}
.title_page>h3{
    margin: 0 0 0 20px;
    border-left: 1px solid #22a7ff;
    padding: 20px;
    font-size: 28px;
}
/********************************Body*************************/
.body_container{
    width: 100%;
    margin-top: 30px;
}
.cart_container{
    width: 90%;
    padding: 20px 0;
    margin: 0 auto;
}
.tableCart{
    float: left;
    width: 75%;
    margin: 0 auto;
}
.table_products{
    margin: 0 auto;
    color: #22a7ff;
    table-layout: fixed;
    border-collapse: collapse;
}
.table_products th{
    font-size: 18px;
    padding-bottom: 30px;
}
.table_products tr{
    border-bottom: 1px solid #22a7ff;
}
.table_products thead{
    width: 100%;
}
.listCart{
    width: 100%;
}
.listCart td{
    text-align: center;
    overflow: hidden;
    padding: 0 10px;
}
.product_Cart{
    display: flex;
    width: 100%;
}
.imgCart{
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgCart>a:hover{
    transition: all 0.3s ease;
    box-shadow: 0 1px 7px 0 rgb(0, 0, 0, 0.45);
}
.imgCart>a{
    width: 80px;
    height: 80px;
}
.imgCart>a>img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}
.titleCart{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.titleCart h3{
    font-weight: normal;
    font-size: 16px;
    padding-left: 30px;
    margin: 0;
}
.titleCart h3 a{
    color: #22a7ff;
}
.titleCart h3 a:hover{
    transition: all 0.3s ease;
    color: #ff2732;
    text-decoration: underline;
}
.pricesCart div{
    float: left;
    margin-left: 30px;
    font-weight: 700;
    font-size: 18px;
}
.priceCart_original{
    color: #bebebe;
}
.priceCart_sale{
    color: #ff2732;
}
.total_priceCart{
    font-size: 18px;
    font-weight: bold;
}
.btn_remove{
    font-size: 28px;
    cursor: pointer;
}
.btn_remove:hover{
    color: #ff2732;
}
.btn_controlCart_container{
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-top: 20px;
}
.btn_controlCart_container button{
    cursor: pointer;
    background-color: #65c2ff;
    color: #fff;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.btn_controlCart_container button:hover{
    transition: all 0.3s ease;
    background-color: #22a7ff;
}
.payment_container{
    float: left;
    width: calc(25% - 60px);
    padding: 0 30px 15px 30px;
}
.bill_container{
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
.title_bill{
    font-size: 24px;
    font-weight: bold;
    padding-top: 0!important;
}
.bill_container tr{
    border-bottom: 1px solid #22a7ff;
}
.bill_container tr:nth-child(1){
    border-width: 3px;
}
.bill_container td{
    text-align: left;
    padding: 15px 0 5px;
    color: #22a7ff;
    overflow: hidden;
    display: flex;
}
.bill_container td div:nth-child(1){
    flex: 1 1 0;
    overflow: hidden;
}
.bill_container td div:nth-child(2){
    flex: 4 1 0;
    overflow: hidden;
}
.price_temp{
    text-align: right!important;
    font-weight: bold;
}
.price_result{
    text-align: right!important;
    font-weight: bold;
    font-size: 18px;
    color: #ff2732!important;
}
.btn_thanhtoan_container{
    margin-top: 30px;
    width: 100%;
}
.btn_thanhtoan{
    display: block;
    background-color: #65c2ff;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}
.btn_thanhtoan:hover{
    transition: all 0.3s ease;
    background-color: #22a7ff;
}
.discountCode_container{
    margin-top: 20px;
    width: 100%;
    color: #22a7ff;
}
.discountCode_title{
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 3px solid #22a7ff;
    font-weight: bold;
    font-size: 18px;
}
.input_discountCode_container{
    margin-top: 10px;
}
.input_discountCode{
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #22a7ff;
    border-radius: 5px;
    outline: none;
    color: #22a7ff;
    background-color: #fff;
}
.input_discountCode::placeholder{
    color: #22a7ff;
}
.btn_discountCode_container{
    width: 100%;
    margin-top: 10px;
}
.btn_discountCode{
    width: 100%;
    border: none;
    outline: none;
    background-color: #65c2ff;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.btn_discountCode:hover{
    transition: all 0.3s ease;
    background-color: #22a7ff;
}
/*************************************************************/
/*****************products recommend**********************************/
.recommend_container{
    width: 90%;
    margin: 50px auto 0;
}
/********************************************************************/